:host {
  color: white;
}

.shopping-cart-form {
  margin-bottom: 2em;
}

div.title {
  margin-bottom: 10px;
  font-size: 14pt;
}

div.total {
  padding-right: 30px;
  line-height: 1.5em;
  font-size: 14pt;
  text-align: end;
}

div.empty {
  outline: solid 1px white;
  line-height: 3em;
  font-size: 14pt;
  text-align: center;
}
